<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/register.css">
	<title>Регистрация</title>
</head>
<body>
	<div class="login-container">
        <h2>Регистрация</h2>
        <div class="input-group">
    		<label class="label">Логин</label>
    		<input autocomplete="off" name="login" id="login" class="input" type="text">
    	</div><br/>
    	<div class="input-group">
    		<label class="label">Пароль</label>
    		<input autocomplete="off" name="password" id="password" class="input" type="password">
    	</div><br/>
		<div>
			<button id="regist">Зарегистрироваться</button>
		</div><br/>
    </div>
	<script>
		document.getElementById('regist').addEventListener('click', function() {
			// Логика для кнопки после нажатия на нее
			fetch('/home')
				.then(response => response.text())
				.then(html => {
					// Замените содержимое текущей страницы на полученное содержимое
					document.body.innerHTML = html;
				})
				.catch(error => {
					console.error('Ошибка при загрузке страницы:', error);
			});
	});
	</script>
</body>
</html>
